    <h2 style="display: inline">{{ listing.title }}</h2>
    {% if listing.closed and not listing.finalized %}
        <h3 style="color: red" style="display: inline">CLOSED</h3>
    {% endif %}
    {% if listing.finalized %}
        <h3 style="color: red" style="display: inline">FINALIZED</h3>
        {% if listing.final_bidder == user %}
            <h3 style="color:green" style="display: inline">You win! for ${{ listing.bid }}</h3>
            {% endif %}
    {% endif %}
    <span>Category: {{ listing.categories }}</span>
    <br><span>Sold by: {{ listing.user_owner }} at {{ listing.creation_date }}</span>
    <p>Current Bid: ${{ listing.bid }}</p>
    <br>
    <p>{{ listing.description }}</p>
    <br>
    <a href = {{ listing.image_url }}><img src="{{ listing.image_url }}" width= 500px height= 500px alt="{{ listing.image_url }}"></a>
    <br>
    <form action="{% url 'listing' listing.pk %}" style="display: inline">
        <button type="submit" style="display: inline">Go to listing</button >
    </form>
    <br>
    {% if user.is_authenticated and user.username != listing.user_owner.username and listing.closed and not listing.finalized%}
    <form action="{% url 'newbid' listing_id=listing.pk %}" style="display: inline" method="POST">
        {% csrf_token %}
        <button type="submit" style="display: inline">Bid now!</button>
        <label for="bid"style="display: inline">Bid amount:</label>
            <input type="number" id="bid" name="{{ listing.pk }}" min="{{ listing.bid }}" style="display: inline">
    </form>
    {% endif %}
    {% if user.is_authenticated and user.username == listing.user_owner.username and not listing.closed%}
    <form action="{% url 'close' listing_id=listing.pk %}" style="display: inline" method="POST">
        {% csrf_token %}
        <button type="submit" style="display: inline">Cancel Listing</button>
    </form>
    <form action="{% url 'finalize_listing' listing_id=listing.pk %}" style="display: inline" method="POST">
        {% csrf_token %}
        <button type="submit" style="display: inline">Accept Current Bid</button>
    </form>
    {% endif %}
    {% if user.is_authenticated and user.username == listing.user_owner.username and listing.closed and not listing.finalized%}
    <form action="{% url 'open' listing_id=listing.pk %}" style="display: inline" method="POST">
        {% csrf_token %}
        <button type="submit" style="display: inline">Open Listing</button>
    </form>
    {% endif %}
    <br>
    {% if user.is_authenticated and not watchlist %}
    <form action="{% url 'watchlist_add' listing_id=listing.pk %}" style="display: inline">
        <button type="submit" style="display: inline">Add to Watchlist</button>
    </form>
    {% endif %}
    <!--Does not current work due to structure of file-->
    {% if user.is_authenticated and watchlist %}
    <form action="{% url 'watchlist_remove' listing_id=listing.pk %}" style="display: inline">
        <button type="submit" style="display: inline">Remove from watchlist</button>
    </form>
    {% endif %}






