    <h2 style="display: inline">{{ listing.title }}</h2>
    {% if listing.closed and not listing.finalized %}
        <h3 style="color: red" style="display: inline">CLOSED</h3>
    {% endif %}
    {% if listing.finalized %}
        <h3 style="color: red" style="display: inline">FINALIZED</h3>
        {% if listing.final_bidder == user %}
            <h3 style="color:green" style="display: inline">You win! for ${{ listing.bid }}</h3>
            {% endif %}
    {% endif %}
    <span>Category: {{ listing.categories }}</span>
    <br><span>Listed by: {{ listing.user_owner }}</span>
<p>Current Bid: ${{ listing.bid }}, {% if listing.final_bidder %}<strong>{{ listing.final_bidder.username }} is leading</strong> {% endif %}</p>
    <br>
    <p>{{ listing.description }}</p>
    <br>
    {% if listing.image %}

        <div><a href="{{ listing.image.url }}" data-lightbox="image-1" data-title="{{ listing.title }}">
            <img src="{{ listing.image.url }}" alt="{{ listing.title }}" width= 500px height= 500px></a></div>
    {% endif %}
    {% if not listing.image and listing.image_url %}
    <a href = {{ listing.image_url }}>
        <img src="{{ listing.image_url }}" width= 500px height= 500px alt="Picture of: {{ listing.title }}">
    </a>
    {% endif %}

    <br>
    <form action="{% url 'listing' listing.pk %}" style="display: inline">
        <button type="submit" style="display: inline">Go to listing</button >
    </form>
    <br>
    {% if user.is_authenticated and user.username != listing.user_owner.username and not listing.closed and not listing.finalized%}
    <form action="{% url 'newbid' listing_id=listing.pk %}" style="display: inline" method="POST">
        {% csrf_token %}
        <button type="submit" style="display: inline">Bid now!</button>
        <label for="bid"style="display: inline">Bid amount:</label>
            <input type="number" id="bid" name="{{ listing.pk }}" min="{{ listing.bid }}" style="display: inline">
    </form>
    {% endif %}
    {% if user.is_authenticated and user.username == listing.user_owner.username and not listing.closed%}
    <form action="{% url 'close' listing_id=listing.pk %}" style="display: inline" method="POST">
        {% csrf_token %}
        <button type="submit" style="display: inline">Cancel Listing</button>
    </form>
    <form action="{% url 'finalize_listing' listing_id=listing.pk %}" style="display: inline" method="POST">
        {% csrf_token %}
        <button type="submit" style="display: inline">Accept Current Bid</button>
    </form>
    {% endif %}
    {% if user.is_authenticated and user.username == listing.user_owner.username and listing.closed and not listing.finalized%}
    <form action="{% url 'open' listing_id=listing.pk %}" style="display: inline" method="POST">
        {% csrf_token %}
        <button type="submit" style="display: inline">Open Listing</button>
    </form>
    {% endif %}

    <br>


    {% if user.is_authenticated %}
        <!--Very neat trick found at https://stackoverflow.com/questions/7481750/check-for-presence-in-a-list-django-template-->
        <span id="heart" class="material-symbols-outlined" >
                favorite
        </span>
        <form action="{% url 'watchlist_toggle' listing_id=listing.pk %}" style="display: inline">
            {% if listing.pk in user.watch %}
                <button type="submit" style="display: inline">Remove from watchlist</button>
            {% else %}
                <button type="submit" style="display: inline">Add to Watchlist</button>
            {% endif %}
        </form>

    <h2 id="ident" style="visibility: hidden; display:inline">{{ listing.pk }}</h2>
    {% endif %}










